/* INDEX.CSS -- The style definitions for the RecipeApp. These are imported
  in index.css for the entire app. */

/* Force an element to span entire height of window */
.span-height {
  height: 100%;
}

/* Make an item visible */
.visible {
  display: block;
}

/* Make an item invisible */
.invisible {
  display: none;
}

/* Styling of the fixed top bar in the app */
.navbar {
  overflow: hidden; /* Don't allow scrolling */
  display: block; /* Occupies its own horizontal space */
  background-color: slategray;
  position: fixed; /* Doesn't move */
  top: 0;
  width: 100%; /* 100% of width of screen */
  align-content: center;
  border-radius: 0px;
  padding: 0px;
  z-index: 100; /* Force it to be on top */
}

.navbar-title {
  color: white;
  font-size: 18px;
}

/* navbarItems defines styling of items within navbar. They should be centered top-to-bottom
   with a small internal margin */
.navbar-items {
  display: inline-flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* sidemenu -- Styling of the side navigation menu */
.sidemenu {
  height: 100%; /* Menu is full height of window */
  position: fixed; /* Menu stays in place regardless of other content */
  z-index: 150; /* Force the menu to be at front */
  top: 48px; /* Position menu 48 px from top of screen; accomodates top navbar */
  left: 0; /* Position the menu on the left hand side */
  background-color: slategray; /* Background color is dark blue */
  overflow-x: hidden; /* Don't allow horizontal scroll */
  transition: 0.5s; /* Animation transition time is 0.5 sec */
  padding-top: 2px; /* Place menu content 2 px from top */
}

/* applies only to an anchor tag that's a child of a sidenav element. */
.sidemenu a {
  padding: 16px 8px 16px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Required ordering of link style definitions: visited, hover, active. If out of this order, they won't work!! */

.sidemenu a:visited {
  background-color: slategray !important;
  color: white !important;
}

.sidemenu a:active {
  background-color: slategray !important;
  color: white !important;
}

.sidemenu a:hover {
  cursor: default;
  text-decoration: none;
  color: slategray !important;
  background-color: #f0f0f0;
}

/* set width to 250px when menu is open */
.sidemenu-open {
  width: 250px;
}

/* set width to 0px when menu is closed */
.sidemenu-closed {
  width: 0px;
}

/* Cascading style within a style: This definition applies only to sidemenu-title class defined in an 
   element that's a child of sidemenu element. */
.sidemenu .sidemenu-title {
  margin-bottom: 2px;
  border-bottom: 2px solid white;
}

.sidemenu .sidemenu-userID {
  font-size: 14px;
  color: white;
}

/* side menu item styling */
.sidemenu-btn {
  background-color: transparent;
  border-color: slategray;
  text-align: center;
}

.sidemenu-btn-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

/* side menu styling when menu item selected */
.sidemenu-item-selected {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: slategray !important;
  background-color: #f0f0f0;
}

/* The SpeedScore dark blue color theme  */
.btn-color-theme {
  background-color: slategray;
  color: white;
}

/* The color theme when a bottom bar menu item is selected */
.btn-alt-color-theme {
  background-color: #f0f0f0;
  color: slategray;
}

/* change items to gray when disabled class is applied  */
.disabled {
  color: gray;
}

.btn-color-theme-outline {
  border: 2px;
  border-color: slategray;
  color: slategray;
}

/* Styling for the divs in the app. Ensures that the content at top isn't obscured by top bar */
.padded-page {
  padding: 56px 0px 56px 0px;
  height: 100%; /* 100% of app */
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

/* Styling for mode bar at the bottom of the page */
.modebar {
  background-color: slategray;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

/* Style the links inside the bottom nav bar */
.modebar a {
  display: block;
  float: left;
  width: 50%;
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a gray background color to the button when it is selected */
.modebar a:active {
  background-color: #f0f0f0;
  color: slategray;
}

/* mode bar button styling when item is selected */
.modebar-item-selected {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: slategray !important;
  background-color: #f0f0f0;
}

/* Add a gray background color to button when it is hovered */
.modebar a:hover {
  color: #f0f0f0;
}

/* Hide the link that should open and close the navbar on small screens */
.modebar .icon {
  display: none;
}

/* Style the icons in the bottom bar */
.modebar-icon {
  display: block;
  padding-top: 3px;
}

/* Style the text in the bottom bar */
.modebar-text {
  display: block;
  font-size: small;
}

.addBtn {
  width: 60px;
  height: 60px;
  background-color: slategray;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: block;
}

.addBtn-edit {
  width: 60px;
  height: 60px;
  background-color: slategray;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: block;
}

/* Style the floating action button, which is fixed in the lower right of the app */
.floatbtn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 40px;
  background-color: slategray;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.floatbtn-icon {
  margin-top: 22px;
  color: white;
}

.floatbtn a:visited {
  color: white;
}

.floatbtn a:active {
  color: white;
}

.floatbtn:hover,
.addBtn:hover {
  background-color: rgb(84, 90, 95);
}

body {
  margin: 0;
}

/* This class disables a button */
.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}

.floatbtn a:visited {
  color: white !important;
}

.floatbtn a:active {
  color: white !important;
}

/* Login page styling */
.login-text {
  text-align: center;
  width: 15%;
  height: 10%;
  font-size: 24px;
}

.login-btn {
  width: 70%;
  font-size: 36px;
}

/* Form styling */

.form-center {
  text-align: center;
}

.bookIcon {
  font-size: 40px;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url(shelves.jpg) no-repeat center center fixed;
}

/* This class disables a button */

.disabledButton {
  pointer-events: none;
  opacity: 0.4;
}

.floatButton a:visited {
  color: white !important;
}

.floatButton a:active {
  color: white !important;
}

/* Login page styling */

.logintext {
  text-align: center;
  width: 15%;
  height: 10%;
  font-size: 24px;
}

.loginBtn {
  background-color: darkgray;
  color: white;
}

.loginBtn.btn-primary {
  width: 180px;
}

.loginBtn,
#createBtn {
  border-color: black !important;
}

.loginBtn:hover,
.loginBtn:active,
.loginBtn:focus,
#createBtn:hover,
#createBtn:active,
#createBtn:focus {
  background-color: gray;
}

/* Form styling */

.form-center {
  text-align: center;
}

#loginModeDiv,
#createAccountModeDiv {
  margin-top: 12% !important;
  text-emphasis: "bold";
  font-family: fantasy;
  font-weight: 999;
}

.profilePic {
  transform: rotate(90deg);
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 11px;
  text-align: center;
  float: right;
}

button:focus {
  outline: 0;
}

#createAccountForm {
  width: 650px;
  background-color: slategray;
}

#passwordHint,
#passwordReset {
  color: white;
  width: 175px;
}

#passwordHint:hover,
#passwordReset:hover {
  color: gray;
}

.greeting {
  font-family: "Lobster", cursive;
}

#loginForm {
  font-size: 24px;
  font-family: none;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 400px;
  margin-bottom: 0px;
  margin-top: 30px;
  border-top-width: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-box-shadow: inset 0 0 5px #808080;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

#bottomBar {
  background-color: slategray;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

/* Style the links inside the bottom nav bar */

.bottomBar a {
  display: block;
  float: left;
  width: 50%;
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a gray background color to the active link in the bottom bar */

#bottomBar a:active {
  background-color: #f0f0f0;
  color: slategray;
}

/* Hide the link that should open and close the navbar on small screens */

#bottomBar .icon {
  display: none;
}

/* Style the icons in the bottom bar */

#bottomBarIcon {
  display: block;
  padding-top: 3px;
}

/* Style the text in the bottom bar */

#bottomBarText {
  display: block;
  font-size: small;
}

.yourRecipesSupports {
  margin-left: 380px;
}

.paddedPage {
  padding: 10px 20px 30px 20px;
  height: 100%;
  background-color: white;
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  border-left-width: 30px;
  margin-left: 30px;
  border-right-width: 30px;
  margin-right: 30px;
  background: rgba(255, 255, 255, 0.85);
}

.recipesTable {
  background-color: white;
}

.disabledButton {
  pointer-events: none;
  opacity: 0.4;
}

.account-link {
  font-weight: 400;
}

.account-link:hover {
  font-weight: 900;
}

.login-error-msg-text {
  font-size: 16;
  color: black;
  background-color: white;
}

.navbar-base {
  background-color: rgba(128, 128, 128, 0.91);
  color: white;
  box-shadow: 0 0 25px 0 black;
}

.navbar-items {
  display: inline-flex;
  margin-right: 10px;
}

.navlink {
  color: white;
  width: 125px;
}

.navlink-grocery {
  width: 220px !important;
  margin-right: 5px;
}

.navlink-selected {
  font-weight: 900;
  color: white;
}

.navlink:active {
  font-weight: 900;
  color: white;
}

.navlink:hover {
  font-weight: 900;
  color: white;
}

.navbar-brand-custom {
  font-size: 20px;
  display: inline-flex;
  padding-top: 10px;
  font-family: "Lobster", cursive;
}

.direction-item {
  display: inline-flex;
  margin-bottom: 10px;
}

.direction-textdiv {
  padding-right: 10px;
}

.direction-textarea {
  width: 70vw;
}

.handle {
  color: rgb(90, 90, 90);
}

.list-groupings {
  display: block;
}

.direction-groupings {
  margin-left: 35px;
}

.ingredient-grouping {
  /*margin-left: 35px;*/
  padding-bottom: 5vh;
}

.pictureURL-form {
  width: 300px;
}

.ingredient-input-name {
  margin-left: 1vw;
  width: 30vw;
  margin-right: 1vw;
}
.ingredient-input-expiration {
  width: 30vw;
  margin-right: 1vw;
}

.ingredient-input-quantity {
  width: 6vw;
  margin-right: 1vw;
}

.ingredient-input-calories {
  width: 6vw;
}

.ingredient-input-unit {
  width: 12vw;
  margin-right: 1vw;
}

.btn-block {
  height: 5%;
  width: 35px;
  text-align: center;
}

/*NOTE: must use decimals with opacity prop. If you use percents they will not work in build and will not display anything*/
.unfavorited {
  opacity: 0.5;
}

.unfavorited:hover {
  opacity: 1;
}

.favorited {
  opacity: 1;
}

.favorited:hover {
  opacity: 0.5;
}

.recipeContent {
  padding: 20px;
}

.recipeContentTitleInfo {
  display: block;
  float: left;
  padding: 10px;
}

.recipeContentListInfo {
  clear: left;
  padding-top: 10px;
}

.recipeContentTitleInfoSubInfo {
  font-size: large;
}

.view-recipe-btn-family {
  float: right;
  display: inline-flex;
}

.view-recipe-btn {
  font-size: 50px;
}

.view-recipe-btn-edit {
  margin-top: 2.5px;
  margin-right: 10px;
}

.view-recipe-btn:hover {
  opacity: 0.5;
}

.confirm-delete-btn {
  width: 150px;
}

.view-name-grouping {
  display: inline-flex;
}

/* Styling for the edit view */

.fav-btn {
  margin-left: 10px;
}

.cooktime-edit-input {
  width: 60px;
  height: 20px;
  margin-left: 10px;
}

.name-edit-input {
  width: 100%;
  margin-right: 10px;
}

.x-table-col {
  float: right;
}

.table-input {
  width: 100%;
}

.ingredient-input-name-edit {
  width: 30vw;
  margin-right: 1vw;
}
.ingredient-input-expiration-edit {
  width: 30vw;
  margin-right: 1vw;
}

.ingredient-input-quantity-edit {
  width: 10vw;
  margin-right: 1vw;
}

.ingredient-input-unit-edit {
  width: 18vw;
  margin-right: 1vw;
}

.ingredient-input-calories-edit {
  width: 10vw;
}

.direction-textarea-edit {
  width: 60vw;
}

.picture-url-input {
  width: 530px;
  margin-left: 10px;
}

.form-control.input-style {
  display: inline-flex;
}

.input-quantity {
  width: 200px;
  margin-right: 10px;
}

/* End styling for the edit view */

.recipe-search-icon:hover {
  color: #706e6e;
}

.recipe-card {
  height: 280px;
  width: 270px;
  background-color: white;
}

.recipe-card:hover {
  opacity: 0.7;
}

.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 280px;
  grid-gap: 10px 10px;
}

.recipe-card-name {
  font-size: 19px;
  color: black;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  overflow: hidden;
  max-width: 11em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.recipe-card-favorite {
  float: right;
  margin-top: 9px;
  margin-right: 10px;
  z-index: 20;
}


/* Styling for sorting buttons */
.recipe-sort-toggle {
    display: inline-block;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipe-sort-button {
    display: inline-block;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    visibility: hidden;
    opacity: .2;
    margin-right: -34px;
    transition: all .5s cubic-bezier(0.47, 0, 0.745, 0.715), background 0s;
}

.recipe-sort-button.visible {
    margin-right: 0px;
    opacity: 1;
    visibility: visible;
}

.recipe-sort-button.selected {
    background-color: lightgray;
}

.recipe-sort-button.custom { 
    padding-bottom: 0px;
}